@theme inline {
  --animate-valid-error-show: valid-error-show 3s
    linear(
      0,
      0.003,
      0.012,
      0.027,
      0.048,
      0.075,
      0.108,
      0.147,
      0.192,
      0.243,
      0.3,
      0.363,
      0.432,
      0.507,
      0.588,
      0.675,
      0.768,
      0.867,
      0.972,
      1.083,
      1.2,
      1.185,
      1.14,
      1.095,
      1.05,
      1.027,
      1.012,
      1.003,
      1,
      0.995,
      0.99,
      0.985,
      0.98,
      0.977,
      0.975,
      0.973,
      0.975,
      0.977,
      0.98,
      0.985,
      0.99,
      0.995,
      1,
      1.003,
      1.005,
      1.007,
      1.008,
      1.008,
      1.007,
      1.005,
      1.003,
      1,
      1
    )
    forwards;
  --animate-valid-error-hide: valid-error-hide 3s
    linear(
      0,
      0.003,
      0.012,
      0.027,
      0.048,
      0.075,
      0.108,
      0.147,
      0.192,
      0.243,
      0.3,
      0.363,
      0.432,
      0.507,
      0.588,
      0.675,
      0.768,
      0.867,
      0.972,
      1.083,
      1.2,
      1.185,
      1.14,
      1.095,
      1.05,
      1.027,
      1.012,
      1.003,
      1,
      0.995,
      0.99,
      0.985,
      0.98,
      0.977,
      0.975,
      0.973,
      0.975,
      0.977,
      0.98,
      0.985,
      0.99,
      0.995,
      1,
      1.003,
      1.005,
      1.007,
      1.008,
      1.008,
      1.007,
      1.005,
      1.003,
      1,
      1
    )
    forwards;

  @keyframes valid-error-show {
    from {
      opacity: 0;
      transform: translateY(-40%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes valid-error-hide {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-40%);
    }
  }
}
